#welcome {
  height: 100vh;
  font-size: 26px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-line-1 {
  animation: fadein 1500ms backwards ease-in;
}

#welcome-line-2 {
  animation: fadein 1500ms 1s backwards ease-in;
}

#change-text::after {
  content: "";
  animation: cycletext 8s 3s both, fadeinout 2s 3s 4;
}

#welcome-line-3 {
  animation: fadein 1500ms 2s backwards ease-in;
}

#start {
  margin-top: 20px;
  font-size: inherit;
  font-family: inherit;
  width: 100px;
  border-radius: 10px;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes cycletext {
  0%, 100% {
    content: "A fun web application";
  }
  25% {
    content: "A delightful diversion";
  }
  50% {
    content: "A joyous experience";
  }
  75% {
    content: "A colorful word journey";
  }
}

@keyframes fadeinout {
  0%, 100% {
    opacity: 1;
  }
  40%, 55% {
    opacity: 0;
  }
}
