#haiku-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

#haiku-form input {
  margin: 15px 10px;
}

#haiku-form input[type="text"] {
  height: 24px;
  width: 280px;
  font-size: 16px;
  font-family: inherit;
}

.form-syllable-msg {
  position: absolute;
  margin-top: 15px;
}

#error {
  margin: 0;
  font-size: 16px;
  color: red;
}

#haiku-form input[type="submit"], #count-syllables {
  font-size: inherit;
  font-family: inherit;
  padding: 5px 10px;
  border-radius: 10px;
}
