.word-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.word-menu-item, .add-word, .synonym {
  padding: 5px;
  font-family: inherit;
  font-size: inherit;
}

.synonym-container {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
}

