#canvas-container {
  display: grid;
  grid-template-areas:
      "menu canvas"
      "nav nav";
  justify-content: center;
}

#canvas-menu {
  display: flex;
  flex-direction: column;
}

#haiku-canvas {
  border: 2px solid black;
}

.nav-buttons {
  grid-area: nav;
}